/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar-colors.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #9491AF;
@define-color background #050409;
@define-color foreground #C7BDCF;
@define-color color0  #06050B;
@define-color color1  #292A30;
@define-color color2  #423D4F;
@define-color color3  #4D4F72;
@define-color color4  #535D64;
@define-color color5  #61668F;
@define-color color6  #7D7484;
@define-color color7  #B4AABC;
@define-color color8  #7A7181;
@define-color color9  #292A30;
@define-color color10 #423D4F;
@define-color color11 #4D4F72;
@define-color color12 #535D64;
@define-color color13 #61668F;
@define-color color14 #7D7484;
@define-color color15 #D1CCD5;

