@import "colors.css";
@import "rounded-sway.css";
@import "rounded-hypr.css";

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: JetBrains Mono Nerd Font;
  font-size: 15px;
  background-color: alpha(@background, 0);
}

window#waybar {
  background-color: transparent;
  /* transition-property: background-color; */
  /* transition-duration: 0.2s; */
}

.modules-right > * {
  margin: 0;
  padding: 0;
}

.modules-right > * > * {
  margin: 0;
}

/* Default for all modules */
.module {
  background-color: @background;
  color: @foreground;
  margin: 0;
  padding: 0 15px;
  border: none;
}

.module:hover {
  background-color: @color8;
  color: @color0;
  /* transition: background-color 0.2s ease-in-out; */
}

/* button { */
/* Use box-shadow instead of border so the text isn't offset */
/* box-shadow: inset 0 -3px transparent; */
/* Avoid rounded borders under each button name border: none; */
/* border-radius: 0; */
/* } */

/* #workspaces button:hover { */
/*   background: inherit; */
/*   color: inherit; */
/*   box-shadow: inherit; */
/*   transition: none; */
/* } */
/**/
/* #workspaces button { */
/*   padding: 0 10px; */
/*   margin: 0; */
/*   background-color: @background; */
/*   color: @foreground; */
/*   transition: all 0.2s ease-in-out; */
/*   border: none; */
/*   box-shadow: none; */
/*   text-shadow: none; */
/*   background-image: none; */
/* } */
/**/
/* #workspaces button.focused { */
/*   background-color: @color13; */
/*   color: @color15; */
/* } */
/**/
/* #workspaces button.urgent { */
/*   background-color: @color1; */
/*   color: @color9; */
/* } */
/**/
/* #workspaces { */
/*   margin: 0; */
/*   padding: 0; */
/* } */

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  padding-left: 0;
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  padding-right: 0;
  margin-right: 0;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
  background-color: @color1;
  color: @color15;
}

#custom-slant-left,
#custom-slant-right {
  background-color: transparent;
  color: @background;
  /* font-size is the bar height since this char needs to be the biggest to fill the height*/
  font-size: 30px;
  padding: 0;
  margin: 0;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @color1;
  color: @color15;
}
