export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS \
--color=bg+:-1,bg:-1,spinner:{{color15}},hl:{{color15}} \
--color=fg:{{foreground}},header:{{color7}},info:{{color4}},pointer:#FF0000 \
--color=marker:{{color0}},fg+:{{color7}},prompt:{{color15}},hl+:{{color15}}"
