$cursor = rbg({{cursor | strip}})
$foreground = rgb({{foreground | strip}})
$background = rgb({{background | strip}})
$color0 = rgb({{color0 | strip}})
$color1 = rgb({{color1 | strip}})
$color2 = rgb({{color2 | strip}})
$color3 = rgb({{color3 | strip}})
$color5 = rgb({{color5 | strip}})
$color6 = rgb({{color6 | strip}})
$color7 = rgb({{color7 | strip}})
$color8 = rgb({{color8 | strip}})
$color9 = rgb({{color9 | strip}})
$color10 = rbg({{color11 | strip}})
$color11 = rbg({{color11 | strip}})
$color12 = rbg({{color12 | strip}})
$color13 = rbg({{color13 | strip}})
$color14 = rbg({{color14 | strip}})
$color15 = rbg({{color15 | strip}})
