/**
 * Base16 ROFI Color theme
 *
 * Authors
 *  Scheme: Adrian
 *  Template: Jordi Pakey-Rodriguez (https://github.com/0xdec), Andrea Scarpino (https://github.com/ilpianista)
 */

* {
    urgent:      		{{color1}};
    info:        		{{color4}};
    bright-fg:         		{{color15}};
    dim-bg:            		{{color8}};
    foreground:        		{{foreground}};
    background:        		{{background}};
}

