[Base]
text               = {{foreground | strip}}
subtext            = {{color7 | strip}}
main               = {{background | strip}}
sidebar            = {{color0 | strip}}
player             = {{color0 | strip}}
card               = {{color1 | strip}}
shadow             = {{color0 | strip}}
selected-row       = {{color8 | strip}}
button             = {{color4 | strip}}
button-active      = {{color12 | strip}}
button-disabled    = {{color8 | strip}}
tab-active         = {{color6 | strip}}
notification       = {{color2 | strip}}
notification-error = {{color1 | strip}}
misc               = {{color3 | strip}}
highlight          = {{color5 | strip}}
