# Define color variables
%hidden color_bg="{{background}}"
%hidden color_fg="{{foreground}}"
%hidden color0="{{color0}}"
%hidden color1="{{color1}}"
%hidden color2="{{color2}}"
%hidden color3="{{color3}}"
%hidden color4="{{color4}}"
%hidden color7="{{color7}}"
%hidden color8="{{color8}}"
%hidden color15="{{color15}}"
