; base16: (https://github.com/chriskempson/base16)
;
; Scheme: Adrian
; Template: Christian Karl <karlch at protonmail dot com>

; Wallust color scheme for vimiv
[STYLE]
; Define color variables
foreground = {{foreground}}
background = {{background}}
color0 = {{color0}}
color1 = {{color1}}
color2 = {{color2}}
color3 = {{color3}}
color4 = {{color4}}
color5 = {{color5}}
color6 = {{color6}}
color7 = {{color7}}
color8 = {{color8}}
color9 = {{color9}}
color10 = {{color10}}
color11 = {{color11}}
color12 = {{color12}}
color13 = {{color13}}
color14 = {{color14}}
color15 = {{color15}}

; Library
library.font = {foreground}
library.bg = {background}
library.selected.bg = {color8}
library.selected.fg = {color15}
library.scrollbar.fg = {color4}
library.scrollbar.bg = {color0}
library.even.bg = {background}
library.odd.bg = {color0}

; Image view
image.bg = {background}
image.scrollbar.fg = {color8}
image.scrollbar.bg = {color0}

; Thumbnail
thumbnail.font = {foreground}
thumbnail.bg = {background}
thumbnail.selected.bg = {color4}
thumbnail.selected.fg = {color15}

; Statusbar
statusbar.font = {foreground}
statusbar.bg = {color0}
statusbar.error = {color1}
statusbar.warning = {color3}
statusbar.info = {color4}

; Completion
completion.fg = {foreground}
completion.bg = {background}
completion.selected.fg = {color15}
completion.selected.bg = {color8}
completion.even.bg = {background}
completion.odd.bg = {color0}

; Command prompt
prompt.fg = {foreground}
prompt.bg = {color0}

; Keyhint popup
keyhint.fg = {foreground}
keyhint.bg = {background}
keyhint.suffix.fg = {color4}

; Manipulate (image editing)
manipulate.fg = {foreground}
manipulate.bg = {background}
manipulate.slider.left = {color4}
manipulate.slider.handle = {color15}
manipulate.slider.right = {color8}

; Mark indicator
mark.color = {color2}
