# Colors
set default-bg                  "{{background}}"
set default-fg                  "{{foreground}}"

set statusbar-fg                "{{color7}}"
set statusbar-bg                "{{color8}}"

set inputbar-bg                 "{{background}}"
set inputbar-fg                 "{{foreground}}"

set notification-bg             "{{background}}"
set notification-fg             "{{foreground}}"

set notification-error-bg       "{{background}}"
set notification-error-fg       "{{color1}}"

set notification-warning-bg     "{{background}}"
set notification-warning-fg     "{{color1}}"

set highlight-color             "{{color7}}"
set highlight-active-color      "{{color0}}"

set completion-bg               "{{background}}"
set completion-fg               "{{color0}}"

set completion-highlight-fg     "{{foreground}}"
set completion-highlight-bg     "{{color0}}"

set recolor                     "false"
set recolor-keephue             "false"

